{% extends "base.html" %}

{% block title %}
{{ dieta }}
{% endblock %}
{% include 'partials/navbar.html' %}
{% block content %}
<div class="container">
    <div class="row mb-5">
        <div class="col-12 col-lg-4">
            <h1 class="mt-5">{{ dieta }}</h1>
            <form method="post">
                {% for ingrediente, limiti in ingredienti.items() %}
                <div class="form-group">
                    <label for="{{ ingrediente }}">{{ ingrediente.replace('_', ' ').capitalize() }} ({{ limiti[0] }} -
                        {{ limiti[1] }}%)</label>
                    <input type="number" class="form-control" id="{{ ingrediente }}" name="{{ ingrediente }}"
                        min="{{ limiti[0] }}" max="{{ limiti[1] }}" required
                        value="{{ input_values[ingrediente] if input_values else '' }}">
                </div>
                {% endfor %}
                <button type="submit" class="btn btn_st mt-3">Calcola</button>
            </form>
        </div>
        {% if percentuali %}
        <div class="col-12 col-lg-8">
            <h2 class="mt-5">Risultati:</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Parametro</th>
                            <th>Descrizione</th>
                            <th>Valore</th>
                            <th>UdM</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="tr_span rounde-4"><strong>S_crop</strong></span></td>
                            <td><span class="tr_span rounde-4"><strong>Superficie coltivata a coltura
                                        energetica</strong></span></td>
                            <td><span class="tr_span rounde-4"><strong>{{ S_IT }}</strong></span></td>
                            <td><span class="tr_span rounde-4"><strong>ha</strong></span></td>
                        </tr>
                        <tr class="highlight-row">
                            <td><span class="tr_span rounde-4"><strong>A_capi</strong></span></td>
                            <td><span class="tr_span rounde-4"><strong>Numero di Capi di Bestiame</strong></span></td>
                            <td><span class="tr_span rounde-4"><strong>{{ A_capi }}</strong></span></td>
                            <td><span class="tr_span rounde-4"><strong>capi</strong></span></td>
                        </tr>
                        <tr>
                            <td>E_el</td>
                            <td>Energia Elettrica Giornaliera</td>
                            <td>{{ E_el }}</td>
                            <td>kWh</td>
                        </tr>
                        <tr>
                            <td>M_ch4_tot</td>
                            <td>Metano Totale Necessario</td>
                            <td>{{ M_ch4_tot }}</td>
                            <td>Nm³</td>
                        </tr>
                        <tr>
                            <td>M_B_tot</td>
                            <td>Massa di Biogas Totale</td>
                            <td>{{ M_B_tot }}</td>
                            <td>ton</td>
                        </tr>
                        <tr>
                            <td>M_B_crop</td>
                            <td>Massa di Biogas da coltura energetica</td>
                            <td>{{ M_B_IT }}</td>
                            <td>ton</td>
                        </tr>
                        <tr>
                            <td>M_B_animal</td>
                            <td>Massa di Biogas da reflui zootecnici</td>
                            <td>{{ M_B_LS }}</td>
                            <td>ton</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>

    {% if percentuali %}
    <div class="row mt-5">
        <div class="col-12 col-lg-8">
            <h1>Dimensionamento aziendale</h1>
            <h3>Processo di calcolo:</h3>
            <p>
                L'algoritmo è calibrato su <a class="a_dark" href="/specifiche">specifiche di progetto</a>, con
                obbiettivo finale di
                produrre un megawatt ora al giorno
                (commissione progettuale). Saranno quindi utilizzati i parametri riportati nei <a class="a_dark"
                    href="/specifiche">tabulati</a> per la stima del
                dimensionamento aziendale.
                La stima del dimensionamento aziendale è espressa attraverso <strong>il numero di capi di
                    bestiame</strong> e <strong>la superficie a
                    coltura energetica</strong> dedicata a Biogas.
            </p>

            <div class="formula-box">
                <p>
                    <strong>E_el = P x 24 [kW x (ore/giorno)]</strong><br><br>
                    E_el = 1000 x 24 = <span>{{ E_el }}</span> [kW/giorno]<br><br>
                    <span class="small">in cui P = potenza richiesta (commissione progettuale)</span>
                </p>
            </div>

            <p>Si passare al calcolo del metano totale [M_ch4_tot] necessario per arrivare a produrre tale energia:</p>

            <div class="formula-box">
                <p>
                    <!-- <strong>E_el = M_ch4_tot x H1 x n</strong><br> -->
                    <strong>M_ch4_tot = E_el / (H1 x n) [(kWh/giorno) / (kWh/Nm³)]</strong><br><br>
                    M_ch4_tot = 2400 / (10 x 0.45) = <span>{{ M_ch4_tot }}</span> [Nm³/giorno]<br><br>
                    <span class="small">in cui H1 = potere calorifero inferiore CH4 [kWh/Nm³], n = rendimento elettrico
                        [%]</span>
                </p>
            </div>

            <p>Ora è possibile stimare il Biogas totale [M_B_tot] considerando la <span>{{ dieta }}</span> selezionata:
            </p>

            <div class="formula-box">
                <p>
                    <strong>M_B_tot = M_ch4_tot / [(phi_animal x Pg_animal x C_CH4_animal) + (phi_crop x Pg_crop x
                        C_CH4_crop) + (phi_waste x Pg_waste x C_CH4_waste)]</strong><br><br>
                    M_B_tot = <span>{{ M_ch4_tot }}</span> / [ (<span>{{ debug_info.phi_LS }}</span> x <span>{{
                        debug_info.Pg_LS }}</span> x <span>{{ debug_info.C_CH4_LS }}</span>) + (<span>{{
                        debug_info.phi_IT }}</span> x <span>{{ debug_info.Pg_IT }}</span> x <span>{{ debug_info.C_CH4_IT
                        }}</span>) + (<span>{{ debug_info.phi_SF }}</span> x <span>{{ debug_info.Pg_SF }}</span> x
                    <span>{{ debug_info.C_CH4_SF }}</span>) ]<br>
                    = <span>{{ M_B_tot }}</span> [ton/giorno]
                </p>
            </div>
        </div>
    </div>

    {% endif %}

    <!-- tabelle parametri -->
    {% if percentuali %}
    <div class="row">
        <div class="col-12">
            <h3 class="mt-5">Valori al Denominatore per la {{dieta}}</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Parametro</th>
                            <th>Descrizione</th>
                            <th>Ingrediente</th>
                            <th>Valore</th>
                            <th>UdM</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>phi_animal</td>
                            <td>Percentuale di ingrediente</td>
                            <td>{{ debug_info.phi_LS_name }}</td>
                            <td>{{ debug_info.phi_LS }}</td>
                            <td>%</td>
                        </tr>
                        <tr>
                            <td>phi_crop</td>
                            <td>Percentuale di ingrediente</td>
                            <td>{{ debug_info.phi_IT_name }}</td>
                            <td>{{ debug_info.phi_IT }}</td>
                            <td>%</td>
                        </tr>
                        <tr>
                            <td>phi_waste</td>
                            <td>Percentuale di ingrediente</td>
                            <td>{{ debug_info.phi_SF_name }}</td>
                            <td>{{ debug_info.phi_SF }}</td>
                            <td>%</td>
                        </tr>
                        <tr>
                            <td>Pg_animal</td>
                            <td>Potenziale prod. Biogas</td>
                            <td>{{ debug_info.phi_LS_name }}</td>
                            <td>{{ debug_info.Pg_LS }}</td>
                            <td>Nm³/t</td>
                        </tr>
                        <tr>
                            <td>Pg_crop</td>
                            <td>Potenziale prod. Biogas</td>
                            <td>{{ debug_info.phi_IT_name }}</td>
                            <td>{{ debug_info.Pg_IT }}</td>
                            <td>Nm³/t</td>
                        </tr>
                        <tr>
                            <td>Pg_waste</td>
                            <td>Potenziale prod. Biogas</td>
                            <td>{{ debug_info.phi_SF_name }}</td>
                            <td>{{ debug_info.Pg_SF }}</td>
                            <td>Nm³/t</td>
                        </tr>
                        <tr>
                            <td>C_CH4_animal</td>
                            <td>Volume CH4 nel Biogas</td>
                            <td>{{ debug_info.phi_LS_name }}</td>
                            <td>{{ debug_info.C_CH4_LS }}</td>
                            <td>%</td>
                        </tr>
                        <tr>
                            <td>C_CH4_crop</td>
                            <td>Volume CH4 nel Biogas</td>
                            <td>{{ debug_info.phi_IT_name }}</td>
                            <td>{{ debug_info.C_CH4_IT }}</td>
                            <td>%</td>
                        </tr>
                        <tr>
                            <td>C_CH4_waste</td>
                            <td>Volume CH4 nel Biogas</td>
                            <td>{{ debug_info.phi_SF_name }}</td>
                            <td>{{ debug_info.C_CH4_SF }}</td>
                            <td>%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3 class="mt-5">Risultati al Denominatore:</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Parametro</th>
                            <th>Valore</th>
                            <th>Risultato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>phi_animal x Pg_animal x C_CH4_animal</td>
                            <td>{{ debug_info.phi_LS }} x {{ debug_info.Pg_LS }} x {{ debug_info.C_CH4_LS }}</td>
                            <td>{{ debug_info.M_B_tot_denominator_calculation['phi_LS * Pg_LS * C_CH4_LS'] }}</td>
                        </tr>
                        <tr>
                            <td>phi_crop x Pg_crop x C_CH4_crop</td>
                            <td>{{ debug_info.phi_IT }} x {{ debug_info.Pg_IT }} x {{ debug_info.C_CH4_IT }}</td>
                            <td>{{ debug_info.M_B_tot_denominator_calculation['phi_IT * Pg_IT * C_CH4_IT'] }}</td>
                        </tr>
                        <tr>
                            <td>phi_waste x Pg_waste x C_CH4_waste</td>
                            <td>{{ debug_info.phi_SF }} x {{ debug_info.Pg_SF }} x {{ debug_info.C_CH4_SF }}</td>
                            <td>{{ debug_info.M_B_tot_denominator_calculation['phi_SF * Pg_SF * C_CH4_SF'] }}</td>
                        </tr>
                        <tr>
                            <td>M_B_tot_denominatore</td>
                            <td></td>
                            <td>{{ debug_info.M_B_tot_denominator }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 col-lg-8">
            <p>
                La biomassa totale è di <span>{{ M_B_tot }}</span> tonnellate al giorno, rientra nel vincolo di progetto
                (40 e le 70 tonnellate al giorno). Si procede con il calcolo della superficie coperta dalla coltura
                dedicata (relativa alla <span>{{dieta}}</span> scelta) e il calcolo dei capi da allevare per ottenere le
                quantità
                necessarie alla <span>{{dieta}}</span>.
            </p>

            <div class="formula-box">
                <p>
                    <strong>M_B_crop = phi_crop x M_B_tot</strong> [tonn/giorno]<br>
                    <strong>M_B_animal = phi_animal x M_B_tot</strong> [tonn/giorno]<br><br>
                    M_B_crop = <span>{{ debug_info.phi_crop }}</span> x <span>{{ M_B_tot }}</span> [tonn/giorno]<br>
                    M_B_animal = <span>{{ debug_info.phi_animal }}</span> x <span>{{ M_B_tot }}</span> [tonn/giorno]
                </p>
            </div>
            <p>Calcolo dei giorni di funzionamento dell'impianto a Biogas:</p>
            <div class="formula-box">
                <p>
                    <strong>N = T/24</strong> [(h/anno) / (h/giorno)] <br><br>
                    N = 8040 / 24 = 335 [giorni/anno]<br><br>
                    <span class="small">NOTE! Il resto dei giorni dell'anno serviranno per la manutenzione dell'impianto
                        e
                        bruciare i gas in eccesso.</span>
                </p>
            </div>

            <p>Ora si passa alla stima della superficie da destinare alla coltura energetica:</p>

            <div class="formula-box">
                <p>
                    <strong>S_crop = (M_B_crop x N) / r</strong> [((tonn/giorno) x (giorni/anno)) / (tonn/(ha x
                    anno))]<br><br>
                    S_crop = (<span>{{ M_B_IT }}</span> x 335) / <span>{{ debug_info.resa_IT }}</span> [ha]<br><br>
                    <span class="small">in cui r = resa [tonn/(ha x anno)]</span>
                </p>
            </div>

            <p>Infine, si stima il numero di capi necessari per ottenere la produzione di refluo zootecnico:</p>

            <div class="formula-box">
                <p>
                    <strong>A_capi = (M_B_animal x N) / (p_m x ρ x m_c)</strong> <br>
                    {(tonn/anno) / [(m³/(tonn_pesovivo x anno)) x (tonn/m³) x (tonn_pesovivo/capo)]}<br><br>
                    A_capi = (<span>{{ M_B_animal }}</span> x 335) / (<span>{{ debug_info.p_m }}</span> x <span>{{
                        debug_info.rho }}</span> x <span>{{ debug_info.m_c }}</span>) = <span>{{ A_capi }}</span>
                </p>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12">
            <h3 class="mt-5">Parametri della Dieta:</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Parametro</th>
                            <th>Descrizione</th>
                            <th>Valore</th>
                            <th>UdM</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>r</td>
                            <td>Resa Colturale</td>
                            <td>{{ debug_info.resa_IT }}</td>
                            <td>ha</td>
                        </tr>
                        <tr>
                            <td>p_m</td>
                            <td>Produzione di reflui</td>
                            <td>{{ debug_info.p_m }}</td>
                            <td>ton</td>
                        </tr>
                        <tr>
                            <td>rho</td>
                            <td>Densità media refluo</td>
                            <td>{{ debug_info.rho }}</td>
                            <td>ton/m³</td>
                        </tr>
                        <tr>
                            <td>m_c</td>
                            <td>Quantità di refluo per capo</td>
                            <td>{{ debug_info.m_c }}</td>
                            <td>ton/capo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{%include 'partials/footer.html' %}
{% endblock %}