{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{%include 'partials/navbar.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-lg-8">
            <h1>bioNRG</h1><br>
            <h4>Calcola il dimensionamento aziendale per un impianto a Biogas.</h4>
            <h5>Scegli la dieta per l'impianto Biogas, inserisci le quantità e avrai subito il risultato e il relativo processo di calcolo.</h5>
            <br>
            <a class="btn btn_st" href="#read_more">Scopri di più</a>
            <br>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <h1 class="mt-5">Scegli la Dieta per il tuo Impianto Biogas</h1>
        <div class="col-12 col-lg-4">
            <div class="card card_st p-2 mb-3 ">

                <h3>Dieta A</h3>
                <ul>
                    <h6>Limiti di Composizione:</h6>
                    <li>Liquame Bovino 5-15%</li>
                    <li>Insilato di Mais 75-90%</li>
                    <li>Siero di Latte 5-10%</li>
                </ul>

                <div class="p-2">
                    <a class="btn btn_st mt-3" href="{{ url_for('dieta', dieta_name='a') }}">Dieta A</a>
                </div>

            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card card_st p-2 mb-3">

                <h3>Dieta B</h3>
                <ul>
                    <h6>Limiti di Composizione:</h6>
                    <li>Letame Bovino 5-25%</li>
                    <li>Insilato di Mais 55-75%</li>
                    <li>Scarti di Patata 10-35%</li>
                </ul>

                <div class="p-2">
                    <a class="btn btn_st mt-3" href="{{ url_for('dieta', dieta_name='b') }}">Dieta B</a>
                </div>

            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card card_st p-2 mb-3">

                <h3>Dieta C</h3>
                <ul>
                    <h6>Limiti di Composizione:</h6>
                    <li>Liquame Suino 15-25%</li>
                    <li>Insilato di Mais 30-65%</li>
                    <li>Bucce di Pomodoro 10-32%</li>
                </ul>


                <div class="p-2">
                    <a class="btn btn_st mt-3" href="{{ url_for('dieta', dieta_name='c') }}">Dieta C</a>
                </div>

            </div>
        </div>

        <div class="col-12 col-lg-4">
            <div class="card card_st p-2 mb-3">

                <h3>Dieta D</h3>
                <ul>
                    <h6>Limiti di Composizione:</h6>
                    <li>Letame Bovino 25-50%</li>
                    <li>Insilato di Sorgo 5-50%</li>
                    <li>Sansa di Olive 10-35%</li>
                </ul>


                <div class="p-2">
                    <a class="btn btn_st mt-3" href="{{ url_for('dieta', dieta_name='d') }}">Dieta D</a>
                </div>

            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card card_st p-2 mb-3">

                <h3>Dieta E</h3>
                <ul>
                    <h6>Limiti di Composizione:</h6>
                    <li>Letame Suino 15-60%</li>
                    <li>Insilato di Triticale 5-50%</li>
                    <li>Scarti di Frutta 10-35%</li>
                </ul>

                <div class="p-2">
                    <a class="btn btn_st mt-3" href="{{ url_for('dieta', dieta_name='e') }}">Dieta E</a>
                </div>

            </div>
        </div>
    </div>
    <div style="height: 300px;">
    </div>
    {%include 'home/more.html' %}
    
</div>

{%include 'partials/footer.html' %}
{% endblock %}