{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{%include 'partials/navbar.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h1>Benvenuto,</h1><br>
            <h4>con questa app potrai calcolare il dimensionamento aziendale per un impianto a Biogas.</h4>
            <br>
            <p>Le specifiche di progetto dell'impianto sono state fissate per garantire la produzione di 1MW (1000 kW).
                Queso dato fondamentale servirà per l'elaborazione del dimensionamento aziendale.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <h1 class="mt-5">Diete per Impianto Biogas</h1>
        <div class="col-12">
            <div class="card mb-3">
                <div class="col-12">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ex ducimus animi, recusandae rem
                    atque, blanditiis illo odit distinctio ipsam sed veritatis eligendi commodi fuga odio assumenda error
                    ratione. Et!
                </div>
                <div class="col-12">
                    <div class="p-2">
                        <a class="btn btn-primary mt-3" href="{{ url_for('dieta', dieta_name='a') }}">Dieta A</a>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="col-12">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ex ducimus animi, recusandae rem
                    atque, blanditiis illo odit distinctio ipsam sed veritatis eligendi commodi fuga odio assumenda error
                    ratione. Et!
                </div>
                <div class="col-12">
                    <div class=" p-2">
                        <a class="btn btn-primary mt-3" href="{{ url_for('dieta', dieta_name='b') }}">Dieta B</a>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="col-12">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ex ducimus animi, recusandae rem
                    atque, blanditiis illo odit distinctio ipsam sed veritatis eligendi commodi fuga odio assumenda error
                    ratione. Et!
                </div>
                <div class="col-12">
                    <div class=" p-2">
                        <a class="btn btn-primary mt-3" href="{{ url_for('dieta', dieta_name='c') }}">Dieta C</a>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="col-12">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ex ducimus animi, recusandae rem
                    atque, blanditiis illo odit distinctio ipsam sed veritatis eligendi commodi fuga odio assumenda error
                    ratione. Et!
                </div>
                <div class="col-12">
                    <div class=" p-2">
                        <a class="btn btn-primary mt-3" href="{{ url_for('dieta', dieta_name='d') }}">Dieta D</a>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="col-12">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ex ducimus animi, recusandae rem
                    atque, blanditiis illo odit distinctio ipsam sed veritatis eligendi commodi fuga odio assumenda error
                    ratione. Et!
                </div>
                <div class="col-12">
                    <div class=" p-2">
                        <a class="btn btn-primary mt-3" href="{{ url_for('dieta', dieta_name='e') }}">Dieta E</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{%include 'partials/footer.html' %}
{% endblock %}


