<div id="read_more" class="row mt-5">
    <h1>Specifiche di progetto</h1>
    <div class="col-12 col-lg-12">
        <p>Le specifiche di progetto dell'impianto sono state fissate per garantire la produzione di 1MW (1000 kW), con
            un carico medio compreso tra 40 e 70 t/giorno,
            questo dato fondamentale servirà per l'elaborazione del dimensionamento aziendale. Per saperne di più
            clicca <a href="/specifiche">qui</a></p>
        <p>Di seguito la mappatura aggiornata al 2022 degli impianti per la produzione di Metano. Con questa mappa
            ti sarà possibile identificare l'impianto più vicino alla tua zona per prendere spunto da latre realtà
            aziendali gia avviate.</p>
    </div>
    <iframe src="https://www.google.com/maps/d/embed?mid=1l5lTTXeaORSkZiHJ5JMlRZ7_QkiQcmED&ehbc=2E312F" width="640"
        height="480"></iframe>
    <a class="btn" href="https://www.google.com/maps/d/embed?mid=1l5lTTXeaORSkZiHJ5JMlRZ7_QkiQcmED&ehbc=2E312F"></a>
    <div style="height: 100px;">
    </div>
    <h1>Che cosa è il Biogas?</h1>
    <p>
        Il termine "biogas" si riferisce a un combustibile gassoso naturale, costituito principalmente da metano e da
        una miscela di altri gas, tra cui l'anidride carbonica. Il biogas viene generato tramite un processo di
        digestione anaerobica, ossia la fermentazione delle biomasse in assenza di ossigeno e a temperatura controllata.
        Le biomasse comprendono materiali organici di varia origine, come deiezioni animali, fanghi di depurazione,
        frazione organica dei rifiuti solidi urbani, scarti agroindustriali, sottoprodotti agricoli e colture dedicate.
        <br>
        La fermentazione anaerobica è svolta da batteri che scompongono la materia organica in monomeri, avviando una
        fermentazione acida che produce acidi, anidride carbonica e idrogeno. Questo è seguito da una fase metanigena,
        in cui i batteri archea catturano la CO₂ e la convertono in metano. Il metano, essendo un prodotto ad alto
        contenuto energetico, può essere utilizzato per produrre energia sotto forma di forza motrice (come nei veicoli)
        o energia elettrica (come negli impianti di cogenerazione).
        <br>
        Il processo di produzione del biogas genera anche un sottoprodotto chiamato digestato, ricco di azoto
        ammoniacale, che può essere impiegato come fertilizzante rinnovabile.
    </p>
    <small> <a href="https://www.lemvigbiogas.com/BiogasHandbook.pdf"> Handbook Biogas</a> </small>
    <small> <a href="https://www.crpa.it/nqcontent.cfm?a_id=3722&tt=crpa_www">Manuale Pratico</a></small>
    <div style="height: 100px;">
    </div>
    <h1>Quadro normativo</h1>
    <p> Si inizia a parlare per la prima volta di incentivazione di biogas e gas derivante
        dalla biomassa con la direttiva 2009/73/CE in cui si afferma la necessità di
        garantire per questi due nuovi combustibili un facile ingresso nel mercato del gas.
        Con la direttiva 2009/28/CE la Comunità Europea introduce e affronta per la
        prima volta il tema delle modalità di incentivazione del biometano immesso nella
        rete del gas naturale. L’Italia ha poi recepito tale normativa con il DM del
        05/12/2013, a seguito del quale sono iniziate ad arrivare le prime domande di
        qualifica.
        Però dal 05/12/2013 il numero di impianti di biometano realizzati in Italia è stato
        molto esiguo, per questo motivo si è reso necessario emanare il DM 02/03/2018
        allo scopo di favorire lo sviluppo di questo nuovo settore.
    </p>
    <h3>DM 02/03/2018 - (Decreto Biometano)</h3>
    <small><a href="https://www.mimit.gov.it/images/stories/normativa/DM-biometano-2-marzo_2018_FINALE.pdf">Testo del
            Decreto</a></small>
    <p>
        Il decreto è costituito da 11 articoli che affrontano diverse tematiche inerenti la
        produzione, immissione in rete e incentivazione del biometano. <br>
        Definizioni:<br>
        • Biometano: combustibile ottenuto da biogas a seguito di trattamenti chimico-fisici che
        soddisfa i requisiti imposti dall’Autorità di regolazione per energia, reti e ambiente
        (ARERA) per la successiva compressione ed immissione in rete; <br>
        • Capacità produttiva di un impianto di biometano: s’intende la produzione oraria
        nominale di biometano espressa in standard metri cubi/ora [Smc/h];<br>
        • Standard metro cubo: quantità di gas contenuta in un metro cubo a condizioni
        standard di temperatura (15°C) e pressione (1,01 bar);<br>
        • Punto di scambio virtuale (PSV): sistema di scambi e cessioni di gas organizzato e
        gestito da Snam rete gas, che consente lo scambio di gas in punti virtuali posti dopo i
        punti di entrata nella rete nazionale dei gasdotti.<br>
    </p>
    <p>
        L’articolo Art. 1 fornisce indicazioni circa l’ambito di applicazione:<br>
        • La data di decorrenza dell’incentivazione dell’impianto la quale non potrà essere
        successiva di oltre 12 mesi all’entrata in esercizio e deve essere uguale o successiva alla
        data di prima immissione in consumo;<br>
        • La rete di distribuzione e/o i relativi sistemi di trasporto, costituita dalle reti utilizzate
        anche per il trasporto del gas naturale e dai mezzi di trasporto del GNL e GNC e dai
        distributori per i trasporti compresi anche quelli privati e non connessi alla rete;<br>
        • La tipologia di impianti a cui si applica, cioè ai nuovi impianti di distribuzione pertinenti
        ad uno o più impianti di biogas e ai nuovi impianti per la produzione di biogas. Si
        configurano come nuovi impianti tutti gli impianti realizzati, entro il 31/12/2022 e fino al
        raggiungimento del limite di producibilità massima di 1,1 miliardi di Smc/anno, vi
        rientrano anche gli impianti biogas esistenti convertiti alla produzione di biometano. Tale
        limite può venir modificato in caso di rilevazione di un aumento dei consumi nel settore
        trasporti. Il GSE pubblicherà sul proprio sito il raggiungimento del 90% del limite, dalla
        data di pubblicazione potranno beneficiare degli incentivi gli impianti realizzati nei 12
        mesi successivi rispettando in ogni caso il limite di 1,1 miliardi di Smc/anno.<br>
        • Si configurano come produttori di biometano anche i soggetti che realizzano
        impianti di produzione di biometano (impianti di upgrading), impianti per la
        liquefazione o compressione del gas in virtù dei contratti stipulati con i
        fornitori delle materie prime per la produzione di biometano <br>
    </p>


</div>