<footer style="height: 800px;" id="footer" class="p-5 bg-dark">
  <div class="row justify-content-center mt-5">

    <div class="col-sm-4 col-md-3 text-center">
      <h3 class="">Follow me</h3>
      <a style="text-decoration: none;" target="_blank" href="https://github.com/JungleKiosk">
        <img class="icon_social mx-2" src="{{ url_for('static', filename='img/github_footer.svg') }}" alt="GitHub">
      </a>
      <a style="text-decoration: none;" target="_blank" href="https://www.linkedin.com/in/francescominutella/">
        <img class="icon_social mx-2" src="{{ url_for('static', filename='img/linkedin_footer.svg') }}" alt="LinkedIn">
      </a>
      <a style="text-decoration: none;" target="_blank" href="https://www.youtube.com/@kioskgis">
        <img class="icon_social mx-2" src="{{ url_for('static', filename='img/youtube_footer.svg') }}" alt="YouTube">
        </img>
      </a>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-12 col-lg-2 text-center">
        <h5>Contacts</h5>
        <span>+39 3311874661</span> <br>
        <span>eso.fra24@gmail.com</span>
        </br>
      </div>
    </div>
</footer>